<!DOCTYPE html>
<html lang="en">
    <!-- metadata and head -->
    {% include head.html %}
   
    <body>
        <!-- Navigation-->
        {% include nav.html %}
        
        <!-- Page Header-->
        <header
            class="masthead"
            style="background-image: url('{{ base.url }}/assets/img/home-bg1.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Erie Outdoor Pursuits Posts</h1>
                            <span class="subheading">A Post from Erie Outdoor Pursuits</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    
                     {{ content }}
                </div>
            </div>
        </div>

        <!-- Footer-->
        {% include footer.html %}
       
        <!-- script-->
        {% include script.html %}
        
    </body>
</html>